{% extends 'base.html' %}


{% block head %}
	<title> home </title>
 {% endblock %}


{% block body %} 
<br>
<div class="jumbotron">
<h3 class="display-3">Welcome to Punjabi_Artists_world!</h3>
      <p>This is the platform for all punjabi artists. Show your talent with large audience.</p>
      <p>Go to our instagram page <a href="https://www.instagram.com/punjabi_artists_world/">www.instagram.com/punjabi_artists_world</a></p>
      <p><a class="btn btn-primary btn-lg" href="{{ url_for('view_posts') }}" role="button">posts &raquo;</a></p>
    </div>
  </div>

{% endblock %}

